<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/fingerprint.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Biometria</title>
</head>
<body>
    <main>
        <h1>Digital</h1>
        <div class="links">
            <a href="/salvar">Salvar</a>
            <a href="/autenticar">Autenticar</a>
        </div>
    </main>
</body>
</html>