<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/fingerprint.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Salvar</title>
</head>
<body>
    <main>
        <h1>Salvar</h1>
        <form method="post" action="" enctype="multipart/form-data">
            <input type="text" maxlength="20" placeholder="Nome" name="nome" id="nome" required/>
            <input type="file" accept="image/*" name="digital" id="digital" required/>
            <button type="submit">Enviar</button>
        </form>
        <a href="/">Voltar</a>
    </main>
</body>
</html>